body {
  background-color: #f5f5f5;
}
.properwrap {
  word-break: break-all;
  wrap: break-word;
}

.buttonpadding {
  margin-top:0.5em;
  margin-right:0.2em;
  margin-bottom:0.1em;
}

#consoleOnPage {
  padding:0.5em;
  font-family: 'Courier New';
  max-height:70vh;
  overflow-y: auto;
}

/* Loading Modal Stuff */
#loadingExcelModal_title {
  font-family: Verdana, Geneva, sans-serif;
}

#loadingExcelModal_body {
  font-family: Verdana, Geneva, sans-serif;
}

#loadingExcelModal_footer {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
}

/* Misc */
#inputfile {
  cursor: pointer
}

#templateDropdownElement {
  cursor: pointer
}
